<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
  </header>
  <form id="new-form">
    <input type="text" class="new-todo" />
  </form>
  <section class="main">
    <ul class="todo-list">
      
    </ul>
    
  </section>  
</section>
